:root {
    --primary-color: #ff9900;
    --secondary-color: #d8d4d4;
    --text-color: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #080808;
    color: #ffffff;
}

#home {
    width: 100%;
    background-size: cover;
    background-position: center;
    padding: 10px 10%;
    display: flex;
    flex-direction: column;
}


nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;

}

.logo {
    width: 140px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    height: 2px;
    width: 0;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    flex: 1;
    justify-content: center;
}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}

.header-text p {
    font-size: 16px;
    line-height: 1.5;
    justify-content: center;
    margin-top: 20px;
}

.header-text p:hover {
    color: var(--secondary-color)
}

.header-text h1 span {
    color: var(--primary-color);
}


/* Services */
#technical-stack {
    padding: 30px 0px;
}

.container {
    padding: 10px 10%;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div {
    background: #262626;
    padding: 40px;
    font-size: 14px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a {
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover {
    background: var(--primary-color);
    transform: translateY(-10px);
}

/* Contact */
.contact-left {
    flex-basis: 35%;
}

.contact-left p {
    margin-top: 30px;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0px;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}


nav .fa-solid {
    display: none;
}

/* css for modile devices */
@media only screen and (max-width: 600px) {
    .header-text {
        margin: auto;
        font-size: 16px;
    }

    .header-text h1 {
        font-size: 30px;
    }

    nav .fa-solid {
        display: block;
        font-size: 26px;
        margin-right: -10px;
    }

    nav ul {
        background: var(--primary-color);
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li {
        display: block;
        margin: 25px;
        ;
    }

    nav ul .fa-solid {
        position: absolute;
        top: 25px;
        left: 25px;
    }

    .sub-title {
        font-size: 26px;
        font-weight: bold;
    }

    .contact-left,
    .contact-right {
        flex-basis: 100%;
    }
}